In [9]:
import pandas as pd

df = pd.read_csv("INNER_PEOPLE_20231001.csv",encoding='cp949')

df

,"?""기준일ID""",시간대구분,행정동코드,거주지 자치구 코드,총생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세부터74세생활인구수,여자75세부터79세생활인구수,장기체류외국인수
0,20231001,0,11110515,11110,472,9.6047,26.9982,16.4307,9.1493,18.9651,...,5.7744,14.3582,41.4938,15.0235,26.2502,26.4237,12.0353,10.7812,27.4891,16.8973
1,20231001,0,11110515,11140,33,*,*,*,*,*,...,4.6462,*,*,*,*,*,*,*,*,7.3508
2,20231001,0,11110515,11170,18,*,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
3,20231001,0,11110515,11200,3,*,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
4,20231001,0,11110515,11215,11,*,*,*,*,*,...,4.1476,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252512,20231001,23,11740700,11620,15,*,*,*,5.3184,*,...,*,*,*,*,*,*,*,*,*,*
252513,20231001,23,11740700,11650,19,*,*,*,*,*,...,*,*,4.2187,*,*,*,*,*,4.7422,*
252514,20231001,23,11740700,11680,35,*,*,*,*,*,...,*,*,*,*,*,5.3202,*,*,*,*
252515,20231001,23,11740700,11710,144,*,5.4754,*,7.9944,*,...,6.8862,9.4964,*,5.9948,6.677,8.5489,*,*,4.7223,4.6364
252516,20231001,23,11740700,11740,949,29.4187,47.5588,46.5712,48.8721,44.3581,...,28.8006,38.6332,35.247,30.9439,17.6001,54.146,26.7454,5.6779,31.5464,12.4916

In [14]:
df1 = pd.read_csv("행정동코드_매핑정보_20200325.xlsx",encoding='')
df1

LookupError: unknown encoding: ansi